.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    color: #fff;
    transform: translateY(-50%);
}

.title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
} 

.slider{
    color: #ffc107;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
}

p{
   text-align: center;
   margin: 20px 0;
}

button{
    padding: 20px 20px;
    border: 1px solid #ffc107;
    background: linear-gradient(to right, transparent 50%, #ffc107 50%);
    background-size: 200%;
    background-position: left;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    margin: 20px 0;
}

button:hover{
    background-position: right;
    color: #000;
}

@keyframes slider{
    0% {margin-top: -400px}
    5% {margin-top: -200px}
    30% {margin-top: -200px}
    35% {margin-top: 0px}
    65% {margin-top: 0px}
    70% {margin-top: 200px}
    100% {margin-top: 200px}
}