.nav{
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 25px 0;
}

img{
    width: 170px;
    cursor: pointer;
}

.futures ul{
    display: flex;
    flex-direction: row;
}

.futures ul li{
    list-style: none;
    position: relative;
    margin: 0 25px;
}

.futures ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.futures ul li::after{
    position: absolute;
    content: '';
    width: 0%;
    background: rgb(255, 235, 55);
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.futures ul li:hover::after{
    width: 100%;
}